.AAFont-pre
{
  font-family:"ＭＳ Ｐゴシック","MS PGothic","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
  white-space: pre;
  font-size: 16px;
  line-height: 18px;
  width:500px;

}

.kadomatsu
{
  font-family:"ＭＳ Ｐゴシック","MS PGothic","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
  white-space: pre;
  font-size: 32px;
  line-height: 36px;
  
  width:100px;
  
  float:left;
}

.AAContainer
{
 margin: 0 auto;
}
